@import "tailwindcss";

/* Alle dark:-Klassen sollen aktiv werden, sobald irgendwo .dark im DOM ist */
@custom-variant dark (&:where(.dark, .dark *));


/* optional, aber sehr sinnvoll: keine unerwarteten Abstände */
html, body {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

button:focus-visible {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
}

:root {
    font-family: 'Inter', system-ui, sans-serif;
}
